
<div class="container">
<h1>To-Do Application</h1>
<hr>

  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Task</label>
    <input
     type="task" class="form-control" id="task" placeholder="Enter task" 
     ngModel name="task"
     required>


  <mat-form-field   >    
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker"  name="date"
           ngModel
    required/>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



    <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</small>
  </div>
 
  
  <button 
  [disabled]="taskForm.invalid"
  id="submitbutton" type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>
<br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Completed</th>
      <th scope="col">Delete</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let t of taskArray; index as i">
      <td>{{t.taskName}}</td>
      <td><input (change)="onCheck(i)" id="mycheckbox" type="checkbox" ></td>
      
      <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)" >Delete</button></td>

<td>{{ t.date | date: 'mediumDate' }}</td>

      
    </tr>

    
  </tbody>
</table>

</div>
